<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario de registros</h1>
    <form action="" method="post"> <br>
        <label for="">Nombre</label> <br>
        <input type="text" name="nom" id="nom"> <br>

        <label for="">Correo</label> <br>
        <input type="email" name="corr" id="corr"> <br>

        
        <label for="">Contraseña</label> <br>
        <input type="password" name="cont" id="cont"><br>
        <br>

        <input type="submit" value="Guardar"><br>
        
    </form>
</body>
</html>
